.cover {
    position: relative;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    padding-bottom: 50%;
    width: calc(100% - 96px);
    display: grid;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .cover  {
        margin-left: 0;
        margin-right: 0;
    }
} 
@media screen and (max-width: 768px) {
    .cover  {
        margin-top: 90px;
    }
} 
@media screen and (max-width: 320px) {
    .cover  {
        margin-top: 66px;
    }
}
