.cover__image {
    background: url(../../../images/cover-trains.jpg) no-repeat;
    background-size: cover;
    padding-top: 57.8%;
}

@media screen and (max-width: 1024px) {
    .cover__image {
        padding-top: 62.5%;
    }
}

.cover__image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
}

.cover__image:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2c2f;
    opacity: 0.8;
}
