.cover__title {
    font-family: Inter;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.05;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .cover__title  {
        font-size: 2rem;
        line-height: 1.09;
    }
} 
@media screen and (max-width: 415px) {
    .cover__title  {
        max-width: 250px;
        font-size: 2rem;
        line-height: 1.09;
    }
} 